<h2>Available airports</h2>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Airport name</th>
    <th scope="col">Airport code</th>
    <th scope="col">Country</th>
    <th scope="col">Country code</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let airport of airports">
    <td>{{airport.name}}</td>
    <td>{{airport.airportCode}}</td>
    <td>{{airport.country}}</td>
    <td><img [src]="'https://www.countryflags.io/'+airport.countryCode+'/flat/64.png'" class="mr-2"
             style="width: 20px" alt="{{airport.countryCode}}">{{airport.countryCode}}</td>
    <td>
      <div style="display: flex">
        <button type="button" class="btn btn-warning btn-sm" style="margin-right: 5px" aria-label="Left Align"
                (click)="delete(airport)" *ngIf="loginService.loggedInUser?.role == 'EMPLOYEE'">
          <fa-icon [icon]="['fas', 'trash']"></fa-icon>
        </button>
        <button type="button" class="btn btn-info btn-sm" style="margin-right: 5px" aria-label="Left Align"
                [routerLink]="['airport-detail', airport.airportCode]" >
          <fa-icon [icon]="['fas', 'info']"></fa-icon>
          Info
        </button>
      </div>
    </td>
  </tr>
  </tbody>
</table>
