<h2>Login</h2>
<form [formGroup]="loginForm" (ngSubmit)="login()">
  <div class="mb-3">
    <label for="name">User name</label>
    <input class="form-control" id="name" formControlName="name">
  </div>
  <div class="mb-3">
    <label for="password">Password</label>
    <input class="form-control" id="password" formControlName="password" type="password">
  </div>
  <input type="submit" class="btn btn-success" value="Login">
</form>
<a href="#" (click)="gotoRegister($event)">Or register</a>
