<h2>Flight overview</h2>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Flight number</th>
    <th scope="col">Departure</th>
    <th scope="col">Destination</th>
    <th scope="col">Departure Time</th>
    <th scope="col">Arrival Time</th>
    <th scope="col">Available seats</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let flight of flights | async; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td>{{ flight.flightNumber  }}</td>
    <td>
      <img [src]="'https://www.countryflags.io/'+flight.departure.countryCode+'/flat/64.png'" class="mr-2"
           style="width: 20px" alt="{{flight.departure.countryCode}}">
      {{flight.departure.name}}
    </td>
    <td>
      <img [src]="'https://www.countryflags.io/'+flight.destination.countryCode+'/flat/64.png'" class="mr-2"
           style="width: 20px" alt="{{flight.destination.countryCode}}">
      {{flight.destination.name}}
    </td>
    <td>
      {{flight.departureTime | date: 'd/M/yyyy, HH:mm'}}
    </td>
    <td>
      {{flight.arrivalTime | date: 'd/M/yyyy, HH:mm'}}
    </td>
    <td>
      <ul style="list-style: none; padding-left: 0">
        <li *ngFor="let seatClass of flight.availableSeatsForClass | keyvalue">
          {{seatClass.key.toLowerCase()}}&nbsp;:&nbsp;{{seatClass.value}}</li>
      </ul>
    </td>
    <td>
      <div style="display: flex">
        <button type="button" class="btn btn-primary btn-sm" style="margin-right: 5px" aria-label="Left Align"
                [routerLink]="['book-flight', flight.flightNumber]"
                *ngIf="!loginService.loggedInUser || loginService.loggedInUser?.role == 'CUSTOMER'">
          <fa-icon [icon]="['fas', 'plane']"></fa-icon>
          Book
        </button>
        <button type="button" class="btn btn-info btn-sm" aria-label="Left Align"
                [routerLink]="['flight-info', flight.flightNumber]">
          <fa-icon [icon]="['fas', 'info']"></fa-icon>
          Info
        </button>
      </div>

    </td>

  </tr>
  </tbody>
</table>
