
.container {
  margin-top: 30px;
  background: rgba(200, 200, 200, 0.8);
  border-radius: 25px;
  height: max-content;
  padding-right: 50px;
  padding-left: 25px;
  padding-top: 25px;
  padding-bottom: 15px;

}


.parent-container {
  overflow: auto;
  display: flex;
  padding-bottom: 80px;
  margin-top: -.5rem !important;
  background: url("../assets/onaangepast_Watervliegtuig_Malediven.jpeg");
  background-blend-mode: overlay;
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 100vh; /* You must set a specified height */
  background-size: cover;
  background-attachment: fixed;
}


