<nav ngbNav #nav="ngbNav" class="nav-tabs">
  <ng-container ngbNavItem>
    <img src="assets/brand.jpeg" alt="brand" style="height:50px">
  </ng-container>
  <ng-container ngbNavItem>
    <a [routerLink]="['']" ngbNavLink>Flights</a>
  </ng-container>
  <div *ngIf=" loginService.user$ | async as user" style="display: flex; width: 74%">
    <ng-container ngbNavItem *ngIf="user.role == 'CUSTOMER'">
      <a [routerLink]="['list-booking']" ngbNavLink>Bookings</a>
    </ng-container>
    <ng-container ngbNavItem *ngIf="user.role == 'EMPLOYEE'">
      <a [routerLink]="['add-airport']" ngbNavLink>Add airport</a>
    </ng-container>
    <ng-container ngbNavItem *ngIf="user.role == 'EMPLOYEE' || user.role == 'AIRLINE'">
      <a [routerLink]="['list-airport']" ngbNavLink>List airports</a>
    </ng-container>
    <ng-container ngbNavItem *ngIf="user.role == 'AIRLINE'">
      <a [routerLink]="['add-flight']" ngbNavLink>Add flight</a>
    </ng-container>
    <ng-container ngbNavItem *ngIf="user.role == 'EMPLOYEE'">
      <a [routerLink]="['settings']" ngbNavLink>App settings</a>
    </ng-container>
    <div ngbNavItem style="display: flex;align-items: center;padding-right: 15px" class="ml-auto">
      <span>Welcome: {{user.name}} Role: {{user.role}}</span>
    </div>
  </div>
  <div ngbNavItem *ngIf="!loginService.loggedInUser"
       style="display: flex;align-items: center;padding-right: 15px" class="ml-auto">
    <a [routerLink]="['login']" ngbNavLink>Login</a>
  </div>
  <div ngbNavItem *ngIf="loginService.loggedInUser"
       style="display: flex;align-items: center;padding-right: 15px" class="ml-auto">
    <a (click)="logout()" ngbNavLink>Logout</a>
  </div>
</nav>

<div [ngbNavOutlet]="nav" class="mt-2"></div>
