<h2>Add new airport</h2>
<form (ngSubmit)="addAirport()" [formGroup]="addAirportForm">
  <div class="mb-3">
    <label for="airportName" class="form-label">Airport name</label>
    <input class="form-control" id="airportName" formControlName="name" placeholder="Airport name">
  </div>

  <div class="mb-3">
    <label for="airportCode" class="form-label">Airport code</label>
    <input class="form-control" id="airportCode" formControlName="airportCode" placeholder="Airport code">
  </div>

  <div class="mb-3">
    <label for="country" class="form-label">Country</label>
    <input class="form-control" id="country" formControlName="country" placeholder="Country">
  </div>

  <div class="mb-3">
    <label for="countryCode" class="form-label">Country code</label>
    <input class="form-control" id="countryCode" formControlName="countryCode" placeholder="Country code">
  </div>

  <button type="submit" class="btn btn-success">Add airport!</button>
</form>
<app-list-airport [airports]="airports"></app-list-airport>
