<h2>Register</h2>
<form [formGroup]="registerForm" (ngSubmit)="register()">
  <div class="mb-3">
    <label for="name">User name</label>
    <input class="form-control" id="name" formControlName="name">
  </div>
  <div class="mb-3">
    <label for="password">password </label>
    <input type="password" class="form-control" id="password" formControlName="password">
  </div>
  <input type="submit" class="btn btn-success" value="Register">
</form>
