<h2>Your bookings</h2>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Flight number</th>
    <th scope="col">Passengers</th>
    <th scope="col">Departure</th>
    <th scope="col">Destination</th>
    <th scope="col">TravelingClass</th>
    <th scope="col">Total price</th>
    <th scope="col">Payment status</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let booking of bookings">
    <td>{{booking.flight.flightNumber}}</td>
    <td>
      <ul style="list-style: none; padding-left: 0">
        <li *ngFor="let ticket of booking.tickets ">
          Name: {{ticket.passenger}}</li>
      </ul>
    </td>
    <td><img [src]="'https://www.countryflags.io/'+booking.flight.departure.countryCode+'/flat/64.png'" class="mr-2"
             style="width: 20px" alt="{{booking.flight.departure.countryCode}}">{{booking.flight.departure.country}}
    </td>
    <td><img [src]="'https://www.countryflags.io/'+booking.flight.destination.countryCode+'/flat/64.png'" class="mr-2"
             style="width: 20px" alt="{{booking.flight.destination.countryCode}}">{{booking.flight.destination.country}}
    </td>
    <td>{{booking.travelingClass}}</td>
    <td>{{booking.price}}</td>
    <td>{{booking.paymentStatus}}</td>
    <td>
      <div style="display: flex">
        <button type="button" class="btn btn-info btn-sm" aria-label="Left Align"
                [routerLink]="['flight-info', booking.flight.flightNumber]">
          <fa-icon [icon]="['fas', 'info']"></fa-icon>
          Info
        </button>
      </div>
    </td>
  </tr>
  </tbody>
</table>
