<h2>Flight details</h2>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Flight number</th>
    <th scope="col">Departure</th>
    <th scope="col">Destination</th>
    <th scope="col">Departure Time</th>
    <th scope="col">Arrival Time</th>
    <th scope="col">Airline</th>
    <th scope="col">Ticket price</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>{{flight.flightNumber}}</td>
    <td><img [src]="'https://www.countryflags.io/'+flight.departure.countryCode+'/flat/64.png'" class="mr-2"
             style="width: 20px" alt="{{flight.departure.country}}">{{flight.departure.country}}</td>
    <td><img [src]="'https://www.countryflags.io/'+flight.destination.countryCode+'/flat/64.png'" class="mr-2"
             style="width: 20px" alt="{{flight.departure.country}}">{{flight.destination.country}}</td>
    <td>{{flight.departureTime | date: 'd/M/yyyy, HH:mm'}}</td>
    <td>{{flight.arrivalTime | date: 'd/M/yyyy, HH:mm'}}</td>
    <td>{{flight.airline != null ? flight.airline.name : 'none'}}</td>

    <td>
      <ul style="list-style: none; padding-left: 0">
        <li *ngFor="let seatClassPrice of flight.ticketPrice | keyvalue">
          {{seatClassPrice.key.toLowerCase()}}&nbsp;:&nbsp;{{seatClassPrice.value}}</li>
      </ul>

    </td>
  </tr>
  </tbody>
</table>

