<h2>App settings</h2>
<form (ngSubmit)="updateSettings()" [formGroup]="settingsForm">
  <div class="mb-3">
    <div id="settings" formArrayName="settings"
         *ngFor="let item of settingsForm.get('settings')['controls']; let i = index;">
      <div [formGroupName]="i">
        <label [for]="'key' + i" class="form-label">Setting key</label>
        <input class="form-control" formControlName="settingKey" [id]="'key' + i" placeholder="Setting key" readonly>
        <label [for]="'value' + i" class="form-label">Setting value</label>
        <input class="form-control" formControlName="settingValue" [id]="'value' + i" placeholder="Setting value">
      </div>
    </div>
  </div>

  <button type="submit" class="btn btn-success">Update settings!</button>
</form>
