<h2>Add flights</h2>
<form (ngSubmit)="addFlight()" [formGroup]="flightForm" *ngIf="flight">
  <div class="mb-3">
    <label for="flightNumber" class="form-label">Flight number</label>
    <input class="form-control" id="flightNumber" formControlName="flightNumber" placeholder="Flight number">
  </div>
  <div class="mb-3" formGroupName="airline">
    <label for="airline" class="form-label">Airline name</label>
    <input class="form-control" id="airline" formControlName="name" placeholder="Airline name">
  </div>
  <div class="mb-3">
    <h3>Airport locations</h3>
    <ng-template #rt let-r="result" let-t="term">
      <img [src]="'https://www.countryflags.io/'+r['countryCode']+'/flat/64.png'"
           class="mr-1" style="width: 16px" alt="{{r['flag']}}">
      <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
    </ng-template>
    <div class="row">
      <div class="col-sm">
        <label for="departure" class="form-label">Departure</label>
        <input class="form-control" id="departure" formControlName="departure" placeholder="Departure"
               [ngbTypeahead]="airportSearch"
               [class.is-invalid]="searchFailed"
               [resultFormatter]="formatter"
               [inputFormatter]="inputFormat"
               [resultTemplate]="rt">

        <small *ngIf="searching" class="form-text text-muted">searching...</small>
        <div class="invalid-feedback" *ngIf="searchFailed">Sorry, suggestions could not be loaded.</div>
      </div>
      <div class="col-sm">
        <label for="destination" class="form-label">Destination</label>
        <input class="form-control" id="destination" formControlName="destination" placeholder="Destination"
               [ngbTypeahead]="airportSearch"
               [resultFormatter]="formatter"
               [class.is-invalid]="searchFailed"
               [inputFormatter]="inputFormat"
               [resultTemplate]="rt">
        <div class="invalid-feedback" *ngIf="searchFailed">Sorry, suggestions could not be loaded.</div>
      </div>
    </div>
  </div>
  <div class="mb-3">
    <h3>Flight time</h3>
    <div class="row">
      <div class="col-sm">
        <label for="departureTime" class="form-label">Departure</label>
        <input type="datetime-local" class="form-control" id="departureTime" formControlName="departureTime">
      </div>
      <div class="col-sm">
        <label for="arrivalTime" class="form-label">Arrival</label>
        <input type="datetime-local" class="form-control" id="arrivalTime" formControlName="arrivalTime">
      </div>
    </div>
  </div>
  <div class="mb-3">
    <h3>Base prices</h3>
    <div id="event" formArrayName="eventPrice"
         *ngFor="let item of flightForm.get('eventPrice')['controls'] ;let i = index">
      <span>{{getKeyFromItem(item['controls'] | keyvalue).key}}</span>
      <div [formGroupName]="i">
        <div class="row" [formGroupName]="getKeyFromItem(item['controls'] | keyvalue).key">
          <div class="col-sm">
            <label for="economy" class="form-label">Economy</label>
            <input class="form-control" id="economy" formControlName="ECONOMY" placeholder="Price">
          </div>
          <div class="col-sm">
            <label for="first_class" class="form-label">First class</label>
            <input class="form-control" id="first_class" formControlName="FIRST_CLASS" placeholder="Price">
          </div>
          <div class="col-sm">
            <label for="business" class="form-label">Business</label>
            <input class="form-control" id="business" formControlName="BUSINESS" placeholder="Price">
          </div>
          <div class="col-sm">
            <div class="row" formGroupName="volumeDiscounts">
              <div class="col-sm">
                <label for="greaterThan2" class="form-label">VolumeDiscount +2</label>
                <input class="form-control" id="greaterThan2" formControlName="2" placeholder="Discount">
              </div>
              <div class="col-sm">
                <label for="greaterThan5" class="form-label">VolumeDiscount +5</label>
                <input class="form-control" id="greaterThan5" formControlName="5" placeholder="Discount">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mb-3">
    <h3>Available seats per flight class</h3>
    <div class="row" formGroupName="availableSeatsForClass">
      <div class="col-sm">
        <label for="economySeat" class="form-label">Economy</label>
        <input class="form-control" id="economySeat" formControlName="ECONOMY" placeholder="Seats">
      </div>
      <div class="col-sm">
        <label for="firstClassSeat" class="form-label">First class</label>
        <input class="form-control" id="firstClassSeat" formControlName="FIRST_CLASS" placeholder="Seats">
      </div>
      <div class="col-sm">
        <label for="businessSeat" class="form-label">Business</label>
        <input class="form-control" id="businessSeat" formControlName="BUSINESS" placeholder="Seats">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <button type="submit" class="btn btn-success" [disabled]="!flightForm.valid">Save flight!</button>
    </div>
  </div>
</form>
