<h2>Booking</h2>
<form (ngSubmit)="bookFlight()" [formGroup]="bookForm" *ngIf="flight">
  <app-flight-detail [flight]="flight"></app-flight-detail>
  <div class="mb-3">
    <label for="travelClass" class="form-label">Travel Class</label>
    <select aria-label="Default select example" id="travelClass" formControlName="travelingClass"
            class="form-control">
      <option selected value="" disabled>Choose seat class</option>
      <option *ngFor="let seatClass of flight.ticketPrice | keyvalue "
              [ngValue]="seatClass.key">{{seatClass.key}}</option>
    </select>
    <span *ngIf="bookForm.controls.travelingClass?.errors?.required"
          class="form-text text-muted">*Seat class is required</span>
  </div>
  <div class="mb-3">
    <div id="passengers" formArrayName="passengers"
         *ngFor="let item of bookForm.get('passengers')['controls']; let i = index;">
      <div [formGroupName]="i">
        <label [for]="i" class="form-label">Passenger {{i}}</label>
        <input class="form-control" formControlName="passenger" [id]="i" placeholder="Passengers name">
        <span *ngIf="bookForm.controls.passengers['controls'][i]['controls'].passenger?.errors?.required"
              class="form-text text-muted">*Passenger nr {{i}} name is required</span>
      </div>
    </div>
    <div style="display: flex;margin-bottom: 15px;margin-top: 15px;justify-content: center">
      <button type="button" (click)="addTicket($event )" class="btn btn-primary">
        <fa-icon [icon]="['fas', 'plus']"></fa-icon>
        Add passenger
      </button>
    </div>
  </div>
  <button type="submit" class="btn btn-success" [disabled]="!bookForm.valid">Book flight!</button>
</form>
